.iw_input label {
    display: block;
    margin-bottom: 0.25rem;
}

.iw_input input {
    width: 100%;
    background: #111111;
    border-radius: 0.75rem;
    padding: 1rem;
    border: none;
    outline: none;
}

.iw_input input.iw_error {
    box-shadow: 0px 0px 0px 2px var(--error);
}