* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: #000000;
    color: #f9f9f9;
}

.iw_layout {
    width: 95%;
    max-width: 768px;
    margin: 3rem auto;
}

.iw_header {
    width: 100%;
    min-height: 4rem;
    max-height: 4rem;
    max-width: 768px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    background: #222222;
}

.iw_header .iw_left a {
    text-decoration: none;
}

.iw_header .iw_right {
    display: flex;
    align-items: center;
}

.iw_spinner-loader {
    width: 1.25rem;
    height: 1.25rem;
    border-top: 2px solid #f9f9f9;
    border-right: 2px solid #f9f9f9;
    border-bottom: 2px solid #f9f9f9;
    border-left: 2px solid transparent;
    border-radius: 1000px;
    animation-name: SpinnerLoader;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.iw_lottie-loader {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000000;
}

.iw_lottie-loader div {
    width: 95%;
    max-width: 450px
}

/* Colors */
.iw_bg-primary {
    background: var(--primary);
}

.iw_bg-secundary {
    background: var(--secondary)
}

.iw_bg-error {
    background: var(--error);
}

.iw_text-primary {
    color: var(--primary);
}

.iw_text-secondary {
    color: var(--secondary);
}

.iw_text-error {
    color: var(--error);
}

.iw_text-white {
    color: #FFFFFF;
}

@keyframes SpinnerLoader {
    0% {
        transform: rotateZ(0deg)
    }

    100% {
        transform: rotateZ(360deg)
    }
}