.iw_button {
    display: inline-block;
    border: none;
    outline: none;
    border-radius: 0.75rem;
    padding: 0.7rem 1.2rem;
    font-size: 0.9rem;
    text-decoration: none;
    cursor: pointer;
    transition-property: opacity, transform;
    transition-duration: 0.3s;
}

.iw_button:hover {
    opacity: 0.75;
}

.iw_button:active {
    transform: scale(0.95);
}